* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.con {
    background-color: rgb(116, 161, 180);
    height: 100%;
}

.con .introductionPage {
    width: 101.9%;
    height: 100%;
    background-color: #292e3d;
    overflow: hidden;
}

.con .introductionPage .intro {
    transform: translate(0%, 170px);
    animation-name: showedIntro;
    animation-delay: 1s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}

@keyframes showedIntro {
    0% {
        
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    70% {
        transform: translate(0%, 170px);
        opacity: 1;
    }

    100% {
        transform: translate(0%, 100px);
        opacity: 1;
    }
}

.con .introductionPage .intro svg {
    transform: translateY(-10px);
}

.con .introductionPage .intro h2 {
    color: #EAEAEA;
    display: inline-block;
    font-family: cursive;
    font-size: 2.3em;
    margin-left: 4px;
    background-color: red;
    width: 0px;
    overflow: hidden;
}