* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.con {
    background-color: #292e3d;
    overflow: hidden;
}

/* styling the introduction page */

.con .introductionPage {
    width: 106.9%;
    height: 100%;
    background-color: #292e3d;
    overflow: hidden;
    z-index: 2;
    opacity: 1;
    display: block;
    transition: 0.5s;
}

.fadeOutIntroductionPage {
    transition: 0.5s;
    transform: translateY(-200px);
    opacity: 0;
    display: none;
}

.con .introductionPage .intro {
    transform: translate(8%, 170px);
    animation-name: showedIntro;
    animation-delay: 1s;
    animation-duration: 7.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
    margin-top: 130px;
}

@keyframes showedIntro {
    0% {

        opacity: 0;
    }

    4% {
        opacity: 1;
    }

    20% {
        transform: translate(8%, 170px);
        opacity: 1;
    }

    28% {
        transform: translate(8%, 100px);
        opacity: 1;
    }

    40% {
        transform: translate(-2%, 100px);
        opacity: 1;
    }

    97% {
        transform: translate(-2%, 100px);
        opacity: 1;
    }

    100% {
        transform: translate(-2%, 70px);
        opacity: 0;
    }
}

@keyframes logoRotate {
    0% {
        transform: rotate(0deg)translateY(-10px);
        width: 42px;
    }

    30% {
        width: 42px;
    }

    70% {
        width: 32px;
    }

    100% {
        transform: rotate(180deg)translateY(10px);
        width: 42px;
    }
}

@keyframes fadeLogoText {
    0% {
        width: 0;
    }

    100% {
        width: 220px;
    }

}

.con .introductionPage .intro svg {
    transform: translate(0px, -10px);
    animation-name: logoRotate;
    animation-delay: 4s;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.con .introductionPage .intro h2 {
    color: #EAEAEA;
    display: inline-block;
    font-family: cursive;
    transform: translate(0px, 14px);
    font-size: 2.3em;
    margin-left: 4px;
    width: 0px;
    overflow: hidden;
    animation-name: fadeLogoText;
    animation-delay: 5s;
    animation-duration: .8s;
    animation-timing-function: steps(9);
    animation-fill-mode: forwards;
}

.con .introductionPage .introLocSelector {
    transform: translate(20%, 10px);
    animation-name: showIntoSearch;
    animation-delay: 8.5s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    position: relative;
    top: 0px;
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    .con .introductionPage .introLocSelector {
        transform: translate(12%, 10px);
    }
  }

@keyframes showIntoSearch {
    0% {
        top: 0px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: -60px;
    }
}

@media only screen and (min-width: 700px) {
    .con .introductionPage .introLocSelector {
        transform: translate(25%, 10px);
        opacity: 0;
    }
}

@media only screen and (min-width: 900px) {
    .con .introductionPage .introLocSelector {
        transform: translate(31%, 10px);
        opacity: 0;
    }
}

@media only screen and (min-width: 1100px) {
    .con .introductionPage .introLocSelector {
        transform: translate(37%, 10px);
        opacity: 0;
    }
}

.con .introductionPage .introLocSelector .inputBox {
    position: relative;
    width: 290px;
}

.con .introductionPage .introLocSelector .inputBox input {
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: #292e3d;
    border-radius: 6px;
    color: #fff;
    font-size: 1em;
    outline: none;
    transition: 0.4s;
}

.con .introductionPage .introLocSelector .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    transition: 0.4s;
}

.con .introductionPage .introLocSelector .inputBox input:valid~span,
.con .introductionPage .introLocSelector .inputBox input:focus~span {
    color: #EAEAEA;
    transform: translate(20px, -7px);
    font-size: 0.65em;
    padding: 0px 10px;
    background-color: #292e3d;
    border-left: 2px solid #EAEAEA;
    border-right: 2px solid #EAEAEA;
    letter-spacing: 0.2em;
}

.con .introductionPage .introLocSelector .inputBox input:valid,
.con .introductionPage .introLocSelector .inputBox input:focus {
    border: 2px solid #EAEAEA;
}

.con .introductionPage .introLocSelector .inputBox #locSearch {
    position: absolute;
    left: 89%;
    top: 18%;
    cursor: pointer;
    transition: .5s;
}

.con .introductionPage .introLocSelector .inputBox input:valid~#locSearch,
.con .introductionPage .introLocSelector .inputBox input:focus~#locSearch {
    fill: #EAEAEA;
}

.con .introductionPage .introLocSelector .inputBox p {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.3);
    margin: 7px;
    transition: 0.2s;
    cursor: pointer;
}

.con .introductionPage .introLocSelector .inputBox p:hover {
    color: #EAEAEA;
}

/*  forecast page styling  */

.con .forecast {
    display: none;
    opacity: 0;
    transition: 0.5s;
    margin-top: 100px;
    width: 105%;
    height: fit-content;
}

.con .forecast .navBar {
    height: 70px;
    z-index: 10;
}

.con .forecast .navBar svg {
    position: absolute;
    left: 100px;
    top: 28px;
}

.fadeInForecastPanel {
    display: flex;
    opacity: 1;
    transition: 0.5s;
}

.con .forecast .navBar #headerText {
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 16px;
    transform: translateX(15px);
    line-height: 15px;
}

.con .forecast .navBar .inputBox {
    position: relative;
    width: 220px;
    margin-right: 20px;
}

.con .forecast .navBar .inputBox input {
    width: 100%;
    padding: 5px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    margin-left: -60px;
    transition: 0.4s;
    border: none;
    border-bottom: 2px solid #a7a7a7;
    outline: none;
}

.con .forecast .navBar .inputBox input:valid,
.con .forecast .navBar .inputBox input:focus {
    border-bottom: 2px solid #EAEAEA;
}

.con .forecast .navBar .inputBox #locSearch2 {
    position: absolute;
    left: 89%;
    top: 23%;
    cursor: pointer;
    transition: .5s;
    margin-left: -60px;
}

.con .forecast .navBar .inputBox input:valid~#locSearch2,
.con .forecast .navBar .inputBox input:focus~#locSearch2 {
    fill: #EAEAEA;
}

.con .forecast .navBar .inputBox p {
    font-size: .9em;
    color: rgba(255, 255, 255, 0.3);
    margin: 7px;
    transition: 0.2s;
    cursor: pointer;
}

.con .forecast .navBar .inputBox p:hover {
    color: #EAEAEA;
}

.con .forecast .information {
    margin-left: 15%;
    margin-top: 40px;
    z-index: 20;
}

.con .forecast .information h3 {
    margin-left: -10%;
    margin-top: 60px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.con .forecast .information #Location {
    margin-top: 80px;
}

.con .forecast .information p {
    color: rgb(223, 223, 223);
    user-select: none;
}

.con .forecast .information h4 {
    margin-top: -30px;
    margin-bottom: 18px;
    color: white;
}

.con .forecast .information #degree {
    font-size: 1em;
    color: white;
    margin-left: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.con .forecast .information #degree:hover {
    margin-left: 5px;
}

.con .forecast .information img {
    transform: translateY(-10px);
}

.con .forecast .information #imageStatus2 {
    margin-top: -5px;
}

.con .forecast #backgroundStatus {
    width: 100%;
    height: 150vh;
    z-index: 5;
    position: relative;
    top: -58vh;
    left: 0;
    opacity: 0;
    transition: 1.2s;
    filter: brightness(90%);
}

.con .forecast #backgroundStatusCover {
    width: 100%;
    height: 220px;
    z-index: 10;
    position: relative;
    top: -68vh;
    left: 0;
    background: linear-gradient(rgb(15, 15, 15), #292e3d);
    opacity: 0;
    transition: 1.2s;
    filter: blur(20px);
}

.refreshBgImage {
    animation-name: refreshBgImage;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes refreshBgImage {
    0% {
        opacity: 0;
        top: -58vh;
    }

    100% {
        opacity: 1;
        top: -88vh;
    }
}

.refreshBgImageCover {
    animation-name: refreshBgImageCover;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes refreshBgImageCover {
    0% {
        top: -68vh;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: -98vh;
    }
}

.con .forecast .forTenDaysBox {
    color: white;
    background-color: #363c50;
    border-radius: 10px;
    border: 2px solid #474f63;
    backdrop-filter: blue(20px);
    transform: translateY(-120vh);
    z-index: 100;
}

.con .forecast .forTenDaysBox tr {
    color: white;
    border: none;
    text-align: center;
    font-size: .8em;
    margin-top: 20px;
}

.con .forecast .forTenDaysBox tr th {
    color: white;
    border: none;
    user-select: none;
}

.con .forecast .forTenDaysBox tr td {
    color: white;
    border: none;
    user-select: none;
}

.con .forecast .for3DaysText {
    font-weight: bold;
    color: white;
    transform: translateY(-123vh);
    margin-left: 4%;
    z-index: 200;
    font-size: 1.5em;
}

.con .forecast .hourly {
    background-color: #363c50;
    border-radius: 10px;
    border: 2px solid #474f63;
    backdrop-filter: blue(20px);
    transform: translateY(-120vh);
    z-index: 100;
    height: fit-content;
    color: white;
    overflow: hidden;
    margin-left: 30px;
    padding-bottom: 2px;
}

.con .forecast .hourly .hours {
    width: 120%;
    height: 146px;
    margin-top: -40px;
    margin-left: 1px;
    position: relative;
    display: flex;
    transition: 0.3s;
}

.con .forecast .hourly .hourlyText {
    font-weight: bold;
    color: white;
    z-index: 200000;
    font-size: 1.5em;
    transform: translate(-30px, -150px);
    position: relative;
}

.con .forecast .hourly .hours li {
    position: relative;
    display: inline-block;
    user-select: none;
    list-style: none;
    transform: translateX(-35px);
    margin-left: 3px;
}

.con .forecast .hourly .hours li span {
    position: relative;
    height: 100%;
    width: 130px;
    background-color: transparent;
    user-select: none;
    display: inline-block;
    backdrop-filter: blue(20px);
    transition: 0.3s;
}

.con .forecast .hourly .hours li span:hover {
    background-color: #474f63;
}

.con .forecast .hourly .hours li span .wIconhourly {
    margin-top: 8px;
    margin-left: 16px;
    width: 40px;
    user-select: none;
    height: 40px;
    border: none;
}

.con .forecast .hourly .hours li span .hourlyTemp {
    font-size: .8em;
    margin-left: 20px;
    margin-top: 5px;
    user-select: none;

}

.con .forecast .hourly .hours li span .hourlyExplaining {
    font-size: .8em;
    margin-left: 20px;
    margin-top: -15px;
    user-select: none;

}

.con .forecast .hourly .hours li span .hourlyH {
    font-size: .8em;
    margin-left: 20px;
    user-select: none;
    margin-top: 20px;
}

.con .forecast .hourly #arrowRight {
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 200px;
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: -185px;
    z-index: 1000;
    transition: 0.3s;
    left: 94%;
}

.con .forecast .hourly #arrowRight svg {
    transition: 0.3s;
}

.con .forecast .hourly #arrowRight:hover svg {
    fill: white;
}

.con .forecast .hourly #arrowLeft {
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 200px;
    align-items: center;
    display: flex;
    position: absolute;
    margin-top: -185px;
    z-index: 1000;
    transition: 0.3s;
    left: -1%;
    transform: rotate(180deg);
    display: none;
    opacity: 0;
}

.con .forecast .hourly #arrowLeft svg {
    transition: 0.3s;
}

.con .forecast .hourly #arrowLeft:hover svg {
    fill: white;
}

/*        map design         */

.con .forecast #map {
    height: 500px;
    background-color: #363c50;
    border-radius: 10px;
    border: 2px solid #474f63;
    backdrop-filter: blue(20px);
    transform: translateY(-110vh);
    z-index: 100;
    margin-top: -30px;
}

.con .forecast .mapTitle {
    color: white;
    font-weight: bold;
    margin-top: -630px;
    margin-left: 4%;
    font-size: 1.5em;
}

/*       desinging for favorites location pannel        */

.con .forecast .favoritesPannel {
    position: fixed;
    width: 90%;
    border: 2px solid #474f63;
    height: 600px;
    background-color: #363c50;
    z-index: 999999;
    transform: translateX(121%);
    transition: 0.5s;
}

.con .forecast .favoritesPannel h2 {
    color: white;
    font-weight: 1.6em;
    margin: 40px;
}

.con .forecast .favoritesPannel .moveFavoritePannelBtn {
    width: 60px;
    height: 60px;
    border: 2px solid #474f63;
    position: absolute;
    top: 50%;
    transform: translateY(-46%)rotate(45deg);
    margin-left: -130px;
    border-radius: 5px;
    background-color: #363c50;
}

.con .forecast .favoritesPannel .moveFavoritePannelBtn svg {
    position: absolute;
    transition: 0.4s;
    transform: translate(-110%, 10%)rotate(-45deg);
    left: 50%;
    top: 50%;
}

.con .forecast .favoritesPannel .moveFavoritePannelBtn:hover svg {
    fill: #c0c0c0;
}

.con .forecast .favoritesPannel .moveFavoritePannelBtn::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #363c50;
    left: 98%;
}

.con .forecast .favoritesPannel .moveFavoritePannelBtn::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    transform: rotate(90deg);
    background-color: #363c50;
    left: 48%;
    top: -50%;
}

.con .forecast .favoritesPannel .selectors {
    height: 130px;
    position: absolute;
    width: 90px;
    background-color: #363c50;
    border: 2px solid #474f63;
    top: 50%;
    border-radius: 5px;
    z-index: 999999999;
    margin-left: -102px;
    transform: translateY(-50%);
}

.con .forecast .favoritesPannel .selectors::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: #363c50;
    left: 99%;
}

.con .forecast .favoritesPannel .selectors ul li {
    text-decoration: none;
    color: rgb(187, 187, 187);
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 35px;
    list-style: none;
    margin-left: -20px;
    cursor: pointer;
    transition: 0.4s;
    transform: translateY(-15px);
}

.con .forecast .favoritesPannel .selectors ul li:hover {
    color: rgb(255, 255, 255);
}

.con .forecast .favoritesPannel .saveBoxesList li {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(187, 187, 187);
    display: inline-block;
    list-style: none;
    border-radius: 5px;
    margin: 5px;
    transform: translateX(50px);
    margin-top: 20px;
}

.con .forecast .favoritesPannel .saveBoxesList li p {
    color: white;
    font-weight: bold;
    font-size: .9em;
    margin-left: 15px;
}

.con .forecast .favoritesPannel .saveBoxesList li p:nth-child(1) {
    margin: 15px;
}

.con .forecast .favoritesPannel .saveBoxesList li p:nth-child(2) {
    margin-left: 15px;
    font-size: 2em;
    margin-top: -10px;
}

.con .forecast .favoritesPannel .saveBoxesList li p:nth-child(3) {
    margin-top: -15px;
}

.con .forecast .favoritesPannel .saveBoxesList li p:nth-child(4) {
    margin-top: -15px;
}

.con .forecast .favoritesPannel .saveBoxesList li p:nth-child(5) {
    margin-bottom: -15px;
    transform: translateY(10px);
}

.saveLiStyle {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(187, 187, 187);
    display: inline-block;
    list-style: none;
    border-radius: 5px;
    margin: 5px;
    transform: translateX(50px);
    margin-top: 20px;
    cursor: pointer;
    transition: 0.4s;

}

.saveLiStyle:hover {
    background-color: #474f68;
}

.saveLiParaStyle {
    color: white;
    font-weight: bold;
    font-size: .6em;
    margin-left: 15px;
}

.con .forecast .favoritesPannel span {
    position: absolute;
    left: 90%;
    top: 6%;
}

.con .forecast .favoritesPannel span svg {
    transition: 0.5s;
}

.con .forecast .favoritesPannel span:hover svg {
    fill: white;
}